.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    .menu {
        background: #fff;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            box-shadow: 0 1px 10px #ccc;
        }
    }
}

section.main {
    flex: 1;

    &.sticky {
        padding-top: 61px;
    }
}

.breadcrumb {
    padding: .5rem 0;
    background-color: transparent;
    font-size: .8rem;
}

h2 {
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
